@{
    ViewBag.pageTitle = "Order Management";
    ViewBag.CardTitle = "View Order";
}
<table id="mytable" class="table" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>PhoneNumber</th>
            <th>orderStatus</th>
            <th>TotalOrder</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/Order.js"></script>
}
